<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Image Classification with ResNet50</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <main class="container-fluid">
        <div class="bg-light p-5 rounded form-group col-md-7 col-lg-8">
            <h1>Classification d'image avec ResNet50</h1>
            <form action="{{url_for('ex2')}}" method="POST" enctype="multipart/form-data">
                <label for="photo" class="form-label">Choisissez une image : </label>
                <input class="form-control" type="file" name="photo" accept="image/*" required="required" /><br>
                <button type="submit" class="btn btn-primary btn-block btn-large">Classifiez</button>
            </form>
            <br>
            {% if image_name %}
                <img src="{{ url_for('static', filename='img/' ~ image_name) }}" class="img-fluid" alt="Image">
                <br>
                <b>{{ prediction_text }}</b>
            {% endif %}
            <br>
        </div>
    </main>
</body>
</html>